</html>
<%- include("./texttags") %>
<div class="container">
    <table class="">
        <center>
            <img src="/images/commitblue_small.png"/>
            </br>
            <linkText><a href="/">Main page</a></linkText>
            </br>
            <linkText><a href="/pages/">Pages</a></linkText>
            </br>
            <linkText><a href="/apis/">Apis</a></linkText>
            </br>
            <linkText><a href="/resources/">Resources</a></linkText>
            </br>
            <linkText><a href="/morestuff/">More stuff</a></linkText>
            </br>
            </br>
        </center>
    </table>
</div>