</html>
<%- include("./texttags") %>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <img src="/images/commitblue_small.png"
            width="21"
            height="21"/>
            <linkText><a href="/">Main page</a></linkText>
            <linkText>ㅤ</linkText>
            <linkText><a href="/morestuff/">More stuff</a></linkText>
            <linkText>ㅤ</linkText>
            <linkText><a href="/resources/">Resources</a></linkText>
            <linkText>ㅤ</linkText>
            <linkText><a href="/apis/">Apis</a></linkText>
            <linkText>ㅤ</linkText>
            <linkText><a href="/pages/">More pages</a></linkText>
        </ul>
    </div>
</header>