</html>
<%- include("./texttags") %>
<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <img src="/images/commitblue_small.png"
            width="57"
            height="57"/>
            <linkText><a href="/">Main page</a></linkText>
        </ul>
    </div>
</header>