</html>
<%- include("./texttags") %>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/bootstrap.min.css">
<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <img src="/images/commitblue_small.png"
            width="35"
            height="35"/>
            <linkText><a href="/" class="btn btn-primary">Main page</a></linkText>
            <linkText>&nbsp;</linkText>
            <linkText><a href="/morestuff/" class="btn btn-primary">More stuff</a></linkText>
            <linkText>&nbsp;</linkText>
            <linkText><a href="/resources/" class="btn btn-primary">Resources</a></linkText>
            <linkText>&nbsp;</linkText>
            <linkText><a href="/apis/" class="btn btn-primary">Apis</a></linkText>
            <linkText>&nbsp;</linkText>
            <linkText><a href="/pages/" class="btn btn-primary">More pages</a></linkText>
        </ul>
    </div>
</header>