<%- include("../partials/texttags") %>
<%- include("../partials/header") %>
<%- include("../partials/inallpages") %>
<body>
    <center>
        <hugeText>
            404, something went wrong
        </hugeText>
        </br>
        <infoText>
            Reason: <%= reason %>
        </infoText>
        </br>
        <img src="/images/404image.png"/>
    </center>
</body>