<%- include("../partials/inallpages") %>
<%- include("../partials/texttags") %>
<%- include("../partials/footer") %>
<body>
    <center>
        <hugeText>
            List of apis
        </hugeText>
        </br>
    </center>
</body>