<%- include("../partials/inallpages") %>
<%- include("../partials/texttags") %>
<%- include("../partials/header") %>
<body>
  <center>
    <hugeText>
      hello i am..
    </hugeText>
    </br>
    <img src="/images/commitblue.png"/>
    </br>
    <largeHugeText>
      commitblue!!!
    </largeHugeText>
    </br>
    <smallText>
      Well there is nothing to talk about, obviously. Why dont you explore the website a bit?
    </smallText>
  </center>
</body>