<%- include("../partials/inallpages") %>
<%- include("../partials/texttags") %>
<%- include("../partials/footer") %>
<body>
    <center>
        <hugeText>
            random audio i found
        </hugeText>
        <audio controls>
            <source src="/audio/woosh.mp3/" type="audio/mp3">
            Unsupported browser
        </audio>
        <script>
            console.log("Nothing here")
            setTimeout(() => {
                console.log("Hey are you still looking at the console?")
                setTimeout(() => {
                    console.log("Soo you have nothing better to do right?")
                    setTimeout(() => {
                        console.log("Too bad there is no reward")
                        setTimeout(() => {
                            console.log("Fine take this code and leave me alone\n5123")
                        }, 6000);
                    }, 6000)
                }, 6000)
            }, 6000)
        </script>
    </center>
</body>