<%- include("../partials/texttags") %>
<%- include("../partials/header") %>
<%- include("../partials/inallpages") %>
<body>
    <center>
        <hugeText>
            random audio i found
        </hugeText>
        </br>
        <audio controls>
            <source src="/audio/woosh.mp3/" type="audio/mpeg"/>
            Unsupported browser
        </audio>
        <script>
            function spamATON(){
                document.getElementsByName("button").forEach(element => {
                    element.textContent = "spamtered"
                })
            }
        </script>
        <button name="button" onclick="spamATON()">
            click
        </button>
    </center>
</body>