<%- include("../partials/texttags") %>
<%- include("../partials/header") %>
<%- include("../partials/inallpages") %>
<body>
    <center>
        <hugeText>
            random audio i found
        </hugeText>
        </br>
        <audio controls>
            <source src="/audio/woosh.mp3/" type="audio/mpeg"/>
            Unsupported browser
        </audio>
        <script>
            var c = 0
            function spamATON(){
                document.getElementsByName("button").forEach(element => {
                    element.textContent = "spamtered"
                })
                const img = document.createElement("img")
                img.src = "/images/spamton.png"
                c += 1
                for (let i = 0; i < c; i++) {
                    document.getElementById("spamtom").appendChild(img)
                }
            }
        </script>
        </br>
        <button name="button" onclick="spamATON()">
            click me
        </button>
        <div id="spamtom"></div>
    </center>
</body>