<%- include("../partials/texttags") %>
<%- include("../partials/header") %>
<%- include("../partials/inallpages") %>
<body>
    <center>
        <hugeText>
            random audio i found
        </hugeText>
        </br>
        <audio controls>
            <source src="/audio/woosh.mp3/" type="audio/mpeg"/>
            Unsupported browser
        </audio>
        <script>
            function spamATON(){
                document.getElementById("z").textContent = "u gort spamtered"
            }
        </script>
        <button class="button" onclick="spamATON()">
            click
        </button>
    </center>
</body>