<%- include("../partials/inallpages") %>
<%- include("../partials/texttags") %>
<%- include("../partials/footer") %>
<body>
    <center>
        <hugeText>
            Under construction
        </hugeText>
        </br>
        <img src="/images/underConstruction.png"/>
    </center>
</body>