<%- include(views + "/partials/inallpages") %>
<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<body>
    <center>
        <hugeText>
            hi
        </hugeText>
        <% for (let i = 0; i < 100; i++) { %>
            </br>
        <% } %>
        <smallText>
            say it back
        </smallText>
    </center>
</body>