<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<%- include(views + "/partials/inallpages") %>
<script>
    function exec(){
        let recordedConsole = []
        Function(`console.log = function(s){recordedConsole.push(s)}; ${document.getElementById("scriptCode").textContent}`)()
        console.debug(recordedConsole)
        document.getElementById("console").textContent = recordedConsole.join("\n")
    }
</script>
<body>
    <center>
        <textarea rows="16" cols="80" id="scriptCode" maxlength="3000"></textarea>
        </br>
        <button class="btn btn-primary" onclick="exec()">
            execute
        </button>
        </br>
        <textarea rows="16" cols="80" id="console" maxlength="3929"></textarea>
    </center>
</body>