<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<%- include(views + "/partials/inallpages") %>
<script>
    function exec(){
        const oldLogs = {
            "log" : console.log,
            "warn" : console.warn,
            "error" : console.error,
            "debug" : console.debug
        }
        eval(`let logged = [] function logWrapper(z){console[z]=function(r){logged.push(z + " : " + r)}} logWrapper("log") logWrapper("warn") logWrapper("debug") logWrapper("error") logWrapper = null try {(function(){${document.getElementById("scriptCode").value}})()} catch(err) {console.error(err)}`)
    }
</script>
<body>
    <center>
        <textarea rows="16" cols="80" id="scriptCode" maxlength="3000"></textarea>
        </br>
        <button class="btn btn-primary" onclick="exec()">
            execute
        </button>
        </br>
        <textarea rows="16" cols="80" id="output" maxlength="3000"></textarea>
        </br>
        <smallText>
            All code injected here will only be injected in the client.
        </smallText>
    </center>
</body>