<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<%- include(views + "/partials/inallpages") %>
<script>
    function exec(){
        eval(`${document.getElementById("scriptCode").textContent}`)()
    }
</script>
<body>
    <center>
        <textarea rows="16" cols="80" id="scriptCode" maxlength="3000"></textarea>
        </br>
        <button class="btn btn-primary" onclick="exec()">
            execute
        </button>
        
    </center>
</body>