<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<%- include(views + "/partials/inallpages") %>
<body>
    <center>
        <textarea rows="16" cols="80" id="scriptCode" maxlength="3000"></textarea>
    </center>
</body>