<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<%- include(views + "/partials/inallpages") %>
<body>
    <center>
        <hugeText>
            why fusion sucks and roact better
        </hugeText>
        </br>
        <smallText>
            thread of why fusion is worse than roact:
        </smallText>
        </br>
        <smallText>fusion is “Lightweight”, this means it will have less features than roact offers. Would you rather a heavy money bag or a money bag filled mostly with air?</smallText>
        </br>
        <smallText>roact has more stars and forks than fusion at the time of writing this.</smallText>
        </br>
        <smallText>No portals</smallText>
        </br>
        <img src="/images/nobindings.jpeg"/>
        </br>
        <smallText>No components (unless you create ur own functions)</smallText>
        </br>
        <smallText>Less reliable</smallText>
        </br>
        <smallText>No long term support</smallText>
        </br>
        <smallText>At the time of writing this, its STILL early on beta.</smallText>
        </br>
        <smallText>Only maintained by a person rather than a team</smallText>
        </br>
        <smallText>Fusion will most likely stop being maintained in a year or 2 opening it up to security vulnerabilities and bugs ( at the time of writing this)</smallText>
        </br>
        <smallText>Less reliable state management with modules rather than a dedicated module</smallText>
        </br>
        <smallText>adding on to the first reason, you have to implement most features by YOURSELF like components etc.</smallText>
        </br>
        <hugeText>
            We will be adding more.
        </hugeText>
    </center>
</body>