<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<%- include(views + "/partials/inallpages") %>
<body>
    <center>
        <hugeText>
            why fusion sucks and roact better
        </hugeText>
        </br>
        <smallText>
            thread of why fusion is worse than roact:
        </smallText>
        </br>
        <smallText>
            fusion is “Lightweight”, this means it will have less features than roact offers. Would you rather a heavy money bag or a money bag filled mostly with air?
            roact has more stars and forks than fusion at the time of writing this.
            No portals
            No bindings
            No components (unless you create ur own functions)
            Less reliable
            No long term support
            At the time of writing this, its STILL early on beta.
            Only maintained by a person rather than a team
            Fusion will most likely stop being maintained in a year or 2 opening it up to security vulnerabilities and bugs ( at the time of writing this)
            Less reliable state management with modules rather than a dedicated module
            adding on to the first reason, you have to implement most features by YOURSELF like components etc.
        </smallText>
    </center>
</body>