<%- include(views + "/partials/texttags") %>
<%- include(views + "/partials/header") %>
<%- include(views + "/partials/inallpages") %>
<body>
    <center>
        <hugeText>
            why fusion sucks and roact better
        </hugeText>
        </br>
        <smallText>
            
        </smallText>
    </center>
</body>